.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 60vh;
    padding-bottom: 10px;
}

.card-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    margin-top: 10px;
}

.card-button {
    width: inherit;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #35A29F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-color: #0B666A;
}

.card-info {
    text-align: start;
    padding: 5px 10px;
    letter-spacing: 0.5px;
}
.card-footer {
    width: 100%;
}